body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input, select {
    max-width: 280px;
}

@media screen and (min-width: 768px) {
    .wrapper {
        display: flex;
    }

    .inner__wrapper {
        width: 50%;
    }
}

.navbar.navbar-inverse .navbar-header .navbar-brand {
    display: inline-block;
    float: none;
}

.center-text {
    text-align: center;
}

@media only screen and (min-width : 768px) {
    .responsive-design {
        float: right;
        margin-top: -34px;
    }
}